.carrousel img {
    height: 250px;
    width: 200px;
}

.carrousel {
    width: 200px;
    margin: auto;
    overflow: hidden;
}

.carrousel .image-holder {
    height: 250px;
    position: relative;
    transition: left 2s;
    margin-bottom: 5px;
    left: 0;
}

.carrousel .image-holder > img {
    float: left;
}

.carrousel .button-holder {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.carrousel .button-holder > span {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #666;
}
