.carrousel img {
    height: 250px;
    width: 200px;
}

.carrousel {
    width: 200px;
    margin: auto;
    overflow: hidden;
}

.carrousel .image-holder {
    height: 250px;
    position: relative;
    transition: left 2s;
    margin-bottom: 5px;
    left: 0;
}

.carrousel .image-holder > img {
    float: left;
}

.carrousel .button-holder {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.carrousel .button-holder > div {
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 10px;
    padding: 1px 4px;
    cursor: pointer;
    /*height: 10px;
    width: 10px;*/
    /*background-color: #666;*/
}
