.rating {
    font-size: 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.rating input {
    display: none;
}
.rating label {
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: peru;
    cursor: pointer;
}
