section {
    display: flex;
}

#side {
    width: 20%;
    min-width: 12em;
    max-width: 12em;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid #666;
}

#side input {
    filter: grayscale(1);
    cursor: pointer;
}

#side label {
    cursor: pointer;
}

#side .center {
    text-align: center;
}

#side .subtitle {
    margin-bottom: 5px;
    text-decoration: underline;
}

#sort > div:nth-of-type(1) {
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sort > div:nth-of-type(2) {
    margin: 0 2em;
}

#filter #price_min,
#filter #price_max {
    width: 28%;
}

#filter #price_min_val,
#filter #price_max_val {
    display: inline-block;
    width: 2em;
    text-align: center;
}

#filter .rating {
    justify-content: center;
}

#filter > div:nth-of-type(3) {
    margin: 0 2em;
}

#side + div {
    flex-grow: 2;
}

#side + div > div h2 {
    display: inline-block;
    margin: 0;
}

#side + div > div {
    text-align: center;
}

#result {
    display: flex;
    flex-wrap: wrap;
}

#result article {
    width: 14em;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #666;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#result article img {
    height: 250px;
    width: 200px;
}

#result article h3,
#result article p {
    margin: 0;
}
