.gray {
    filter: grayscale(1);
    cursor: pointer;
}

section table {
    margin: auto;
}

section table th {
    text-align: center;
}

section table th,
section table td {
    padding: 2px 10px;
}

section form {
    margin: 0;
}
