section img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 5px;
}

.card {
    display: flex;
    justify-content: space-evenly;
}

.card > div {
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .subtitle {
    font-weight: bold;
}

.card input {
    width: 4em;
    text-align: center;
}

#comments {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

#comments h3 {
    margin-top: 0;
}