section img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 5px;
}

.card {
    display: flex;
    justify-content: space-evenly;
}

.card > div {
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card input:not(.btn) {
    width: 4em;
    text-align: center;
}

#comments {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

#comments h3 {
    margin-top: 0;
}

#comments > div:nth-of-type(1) {
    width: 20%;
}

#comments > div:nth-of-type(2) {
    width: 40%;
}

#comments #comment {
    width: 100%;
}

#commentList {
    display: flex;
    flex-direction: column;
}

#commentList article {
    margin: 5px;
    padding: 10px 5px;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#commentList article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

#commentList article p {
    margin: 0;
}

#commentList .rated {
    font-size: 20px;
}

#commentList .rated .colored {
    color: peru;
}